{% extends "base.html" %}

{% block title %}{{ view_title }}{% endblock %}

{% block content %}
<div class="row mb-3">
    <div class="col-sm-12 bg-warning">
        <h2 class="display-4 text-center">{{ view_head }}</h2>
    </div>
</div>
<div class="row">
    {% for klub in klubs_list %}
    <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
        <div class="card">
            {% if klub.poster %}
                <img class="card-img-top" src="{{ klub.poster.url }}" alt="{{ klub.name }}">
            {% endif %}
            <div class="card-body">
                <h4 class="card-title"><a href="{% url 'klub_detail' klub.pk %}">{{ klub.name }}</a></h4>
                <p class="card-text">{% for genre in film.genres.all %}<a href="{% url 'film-genre' genre.name %}" class="btn btn-light">{{ genre.name }}</a> {% endfor %}</p>
                <!-- Odkaz ještě musí být doplněn o adresu stránky s detailem filmu -->
                <a href="{% url 'film_detail' film.pk %}" class="btn btn-primary">Podrobnosti</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<div class="row mb-3">
    <div class="col-sm-12 text-center">
        <a href="{% url 'film_create' %}" class="btn btn-success">Nový film</a>
    </div>
</div>
{% endblock %}